.Tilt {
  background: rgb(195,34,167);
background: radial-gradient(circle, rgba(195,34,167,0.9665847949767381) 0%, rgba(97,102,171,1) 88%);
}
/* .Tilt {

  background: rgb(56,180,196);
  background: radial-gradient(circle, rgba(56,180,196,1) 0%, rgba(129,191,142,0.9356859185722437) 100%);

} */


